<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Discover the ZagSystems website project, where Omar Afifi contributed to designing and building key features including service and product pages. The site emphasizes responsive design, consistent headers, and user-friendly navigation, showcasing skills in web development and user experience. Learn more about the project and connect with Omar for additional insights.">
    <title>Zagsystems website improvements - Omar Afifi</title>
    <link rel="canonical" href="https://omar-afifi.com/zagsystems-website" />

    <!-- Website Icon: Favicon and Touch Icons -->
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon_io/site.webmanifest">
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/cdd671888d.js" crossorigin="anonymous" defer></script>
    <!-- Bootstrap CSS -->
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" as="style">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" defer>
    <!-- Preconnect and DNS Prefetch to Optimize Loading -->
    <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
    <link rel="preconnect" href="https://unpkg.com">
    <link rel="dns-prefetch" href="https://unpkg.com">
    <!-- Preload AOS library (Animations) -->
    <link rel="preload" href="https://unpkg.com/aos@next/dist/aos.css" as="style">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="preload" href="https://unpkg.com/aos@next/dist/aos.js" as="script">
    <!-- Custom Stylesheet -->
    <link rel="preload" href="/styles/common.css" as="style">
    <link rel="stylesheet" href="/styles/common.css" defer>
    <link rel="preload" href="/styles/layout.css" as="style">
    <link rel="stylesheet" href="/styles/layout.css" defer>
    <!-- Preload Images for Better Performance -->
    <link rel="preload" href="/images/Logo.webp" as="image" type="image/webp">
    <link rel="preload" fetchpriority="high" href="/images/zagsystems-website/ZagSystems.mp4" as="video"
        type="video/mp4">
</head>

<body>
    <header>{% include "header.njk" %}</header>
    <!-------------------------------------------------ZagSystems------------------------------------------------->
    <main>
        <div class="carousel slide" id="carouselDemo" data-bs-wrap="true" data-bs-ride="carousel" data-aos="fade-in"
            data-aos-duration="1500">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="11000">
                    <video autoplay muted loop class="w-100 video-margin" aria-label="video">
                        <source src="/images/zagsystems-website/ZagSystems.mp4" alt="ZagSystems" type="video/mp4">
                    </video>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/zagsystems-website/ZagSystems-1.webp" loading="lazy" alt="ZagSystems"
                        class="w-100">
                    <div class="carousel-caption"></div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/zagsystems-website/ZagSystems-2.webp" loading="lazy" alt="ZagSystems-2"
                        class="w-100 setproductwidth">
                    <div class="carousel-caption"></div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/zagsystems-website/ZagSystems-3.webp" loading="lazy" alt="ZagSystems-3"
                        class="w-100">
                    <div class="carousel-caption"></div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/zagsystems-website/ZagSystems-4.webp" loading="lazy" alt="ZagSystems-4"
                        class="w-100">
                    <div class="carousel-caption"></div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/zagsystems-website/ZagSystems-5.webp" loading="lazy" alt="ZagSystems-5"
                        class="w-100">
                    <div class="carousel-caption"></div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/images/zagsystems-website/ZagSystems-6.webp" loading="lazy" alt="ZagSystems-6"
                        class="w-100">
                    <div class="carousel-caption"></div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" aria-label="btn" data-bs-target="#carouselDemo"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" aria-label="btn" data-bs-target="#carouselDemo"
                data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
            <div class="carousel-indicators">
                <button type="button" class="active" data-bs-target="#carouselDemo" data-bs-slide-to="0"
                    aria-label="Swap"><img src="/images/zagsystems-website/ZagSystems.webp" alt="ZagSystems" /></button>
                <button type="button" data-bs-target="#carouselDemo" data-bs-slide-to="1" aria-label="Swap"><img
                        src="/images/zagsystems-website/ZagSystems-1.webp" loading="lazy" alt="ZagSystems-1" /></button>
                <button type="button" data-bs-target="#carouselDemo" data-bs-slide-to="2" aria-label="Swap"><img
                        src="/images/zagsystems-website/ZagSystems-2.webp" loading="lazy" alt="ZagSystems-2" /></button>
                <button type="button" data-bs-target="#carouselDemo" data-bs-slide-to="3" aria-label="Swap"><img
                        src="/images/zagsystems-website/ZagSystems-3.webp" loading="lazy" alt="ZagSystems-3" /></button>
                <button type="button" data-bs-target="#carouselDemo" data-bs-slide-to="4" aria-label="Swap"><img
                        src="/images/zagsystems-website/ZagSystems-4.webp" loading="lazy" alt="ZagSystems-4" /></button>
                <button type="button" data-bs-target="#carouselDemo" data-bs-slide-to="5" aria-label="Swap"><img
                        src="/images/zagsystems-website/ZagSystems-5.webp" loading="lazy" alt="ZagSystems-5" /></button>
                <button type="button" data-bs-target="#carouselDemo" data-bs-slide-to="6" aria-label="Swap"><img
                        src="/images/zagsystems-website/ZagSystems-6.webp" loading="lazy" alt="ZagSystems-6" /></button>

            </div>
        </div>
        <br>
        <div class="project-title">
            <h1 data-aos="fade-in" data-aos-duration="1500">ZagSystems Website</h1>
            <h2 data-aos="fade-in" data-aos-duration="1500">🌐 Web Development 🌐</h2>
        </div>

        <div class="body-container">
            <div class="project-overview">
                <h1 data-aos="fade-right" data-aos-duration="1500">Overview</h1>
                <p class="overview-description" data-aos="flip-up" data-aos-duration="1500">As part of the ZagSystems
                    project, I contributed to the development of a comprehensive website. My role included designing and
                    building a services section with four detailed pages and creating four product pages. I also played
                    a
                    key role in ensuring consistent headers across all pages, enhancing the site's cohesiveness and user
                    experience.
                </p>
            </div>
            <div class="project-features">
                <h2 data-aos="fade-right" data-aos-duration="1500">Key Features:</h2>
                <ol class="features" data-aos="fade-right" data-aos-duration="1500">
                    <li>🌐 <strong>Service Pages:</strong> - Detailed pages with 'Learn More' functionality for a
                        comprehensive overview.</li>
                    <li>🛠️ <strong>Product Pages:</strong> - Informative and engaging layouts for various products.
                    </li>
                    <li>🖥️ <strong>Consistent Headers:</strong> - Unified design across pages for seamless navigation.
                    </li>
                    <li>📱 <strong>Responsive Design:</strong> - Optimized for various devices to ensure accessibility.
                    </li>
                    <li>🔗 <strong>User-Friendly Navigation:</strong> - Easy access to key information throughout the
                        site.
                    </li>
                    <li>🌟 <strong>Enhanced User Experience:</strong> - Focused on providing a smooth and engaging user
                        journey.</li>
                </ol>
            </div>
        </div>
        <div class="video-container" data-aos="zoom-in" data-aos-duration="1500">
            <video autoplay muted loop class="w-100 video-margin" aria-label="video">
                <source src="/images/zagsystems-website/ZagSystems-1.mp4" alt="ZagSystems-1" type="video/mp4">
            </video>
        </div>

        <div class="learning-experience">
            <h2 data-aos="fade-right" data-aos-duration="1500">Learning Experience</h2>
            <p data-aos="fade-right" data-aos-duration="1500">This project has been an incredible learning experience
                and an
                opportunity to develop practical skills in:
            </p>
            <ul>
                <li data-aos="fade-right" data-aos-duration="1500"><strong>Web Development</strong></li>
                <li data-aos="fade-right" data-aos-duration="1500"><strong>HTML, CSS, JavaScript</strong></li>
                <li data-aos="fade-right" data-aos-duration="1500"><strong>User Experience Design</strong></li>
                <li data-aos="fade-right" data-aos-duration="1500"><strong>Responsive Layouts</strong></li>
                <li data-aos="fade-right" data-aos-duration="1500"><strong>Content Management</strong></li>
                <li data-aos="fade-right" data-aos-duration="1500"><strong>And much more...</strong></li>
            </ul>
            <p data-aos="fade-right" data-aos-duration="1500">As a student, I’m proud of the progress I've made with
                this
                project and excited about continuing to advance my skills in web development. Each challenge has been a
                valuable opportunity to grow and innovate. 🚀</p>
        </div>
        {% include "contact.njk" %}
    </main>
    <!-------------------------------------------------footer------------------------------------------------->
    {% include "footer.njk" %}
        <!-------------------------------------------------Bootstrap------------------------------------------------->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
        <!-------------------------------------------------Script------------------------------------------------->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init({ once: true, offset: 0 });
        </script>
        <script defer src="/js/layout.js"></script>
</body>

</html>