

:root {
    --my-color: #1F35FF;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    background-color: black;
    background-image: url('/images/backgrounds/Background-1.webp');
    background-size: cover;
    background-position: start;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    color: #fff;
}
#contact{
    padding-top: 50px;
    background-image: url('/images/backgrounds/Background-4.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 90vh;
}

/* -----------------------------------------------------------Home-----------------------------------------------------------*/
.color-picker {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

input[type="color"] {
    position: relative;
    right: 2vw;
    bottom: 10vh;
    width: 10vw;
    height: 10vw;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid white;
    background-color: var(--my-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    transition: transform 0.3s ease;

}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    /* Removes the inner box */
}

input[type="color"]:hover {
    transform: scale(1.1);
    color: var(--my-color);
    /* border: 0px solid var(--my-color); */
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px var(--my-color);
}

nav {
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #131417;
    box-shadow: 0px 0px 10px black;
    will-change: transform;
    z-index: 10;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.logo img {
    vertical-align: middle;
    width: 3.5rem;
}

.logo {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
}

.logo span {
    color: var(--my-color);
    font-weight: 500;
    /*text-shadow: 0 0 10px #8f6955;*/
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 15px 20px;
    margin-top: 35px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
}

nav ul li a::after {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--my-color);
    transition: 0.3s linear;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color: var(--my-color);
}

/* -----------------------------------------------------------projects-----------------------------------------------------------*/
.carousel{
    margin-top: 80px;
}
.carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner img, .carousel-inner video {
    margin: 30px;
    margin-bottom: 15px;
    transform: translateX(-50%);
    box-shadow: 0px 0 20px 3px var(--my-color);
    border-radius: 30px;
    width: 100% !important;
    text-align: center;
    max-width: 965px;
    height: 550px;
}
.w-100.video-margin {
    margin-bottom: 9.5px;
}
.w-100.setproductwidth {
    max-width: 600px;
}
.w-100.omar {
    max-width: 500px;
}

.w-100.z-garden {
    max-width: 910px;
}

.w-100.max-width-1200 {
    max-width: 1200px;
}

.w-100.blynk-mobile {
    max-width: 300px;
}

.w-100.schematic {
    max-width: 1000px;
}

.carousel-indicators img {
    width: 70px;
    height: 70px;
    display: block;
}

.carousel-indicators button {
    width: max-content !important;
}

.carousel-indicators {
    position: unset;
}

.carousel-indicators button.active img {
    border: 2px solid var(--my-color);
}

.project-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 20px 200px;
}

.overview-description {
    color: #ababab;
    font-size: 1.4rem;
}

.features {
    color: #ababab;
    margin-left: 50px;
    font-size: 1.3rem;
}

.features strong {
    color: #ffffffee;
    font-weight: 500;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    margin-bottom: 40px;
}
.video-container video {
    box-shadow: 0px 0 20px 3px var(--my-color);
    border-radius: 30px;
    width: 80%;
    max-width: 800px;
    height: auto;
}
.video-container iframe {
    box-shadow: 0px 0 20px 3px var(--my-color);
    border-radius: 30px;
    width: 80%;
    max-width: 800px;
    height: 450px;
    border: none;
}

.learning-experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 20px 200px;
    border-bottom: 2px solid var(--my-color);
    margin-bottom: 40px;
}

.learning-experience h2 {
    color: #49cc4e;
    border-bottom: 2px solid #49cc4e;
    padding-bottom: 10px;
}

.learning-experience p {
    font-size: 1.4rem;
    padding-top: 10px;
}

.learning-experience ul {
    margin: 0;
    font-size: 1.2rem;
    padding-left: 20px;
}

.learning-experience ul li {
    margin-bottom: 10px;
}

.learning-experience ul li strong {
    font-weight: 500;
    color: #ffffffee;
}

/* -----------------------------------------------------------Contact-----------------------------------------------------------*/
.container {
    padding: 10px 10%;
    display: block;
    max-width: 100%;
    overflow: hidden;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {
    display: block;
    margin: 0 auto;
    width: fit-content;
    border: 1px solid var(--my-color);
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: none;
    /*-----------Change in future------------*/
    transition: 0.3s;
}

.btn:hover {
    background: var(--my-color);
}

.contact-left {
    margin-top: 50px;
    flex-basis: 35%;
}

.contact-right {
    margin-top: 50px;
    flex-basis: 60%;
}

.contact {
    margin: 15px 0;
}

.contact a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    font-size: 1.8rem;
}

.contact i {
    margin-right: 10px;
    font-size: 1.8rem;
}

.email a {
    color: #007BFF;
}

.email a:hover {
    color: #0056b3;
    transform: scale(1.05);
}

.whatsapp a {
    color: #25D366;
}

.whatsapp a:hover {
    color: #128C7E;
    transform: scale(1.05);
}

.social-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid var(--my-color);
    border-radius: 50%;
    color: var(--my-color);
    margin: 5px;
    margin-top: 20px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-icons i:hover {
    scale: 1.3;
    color: black;
    background-color: var(--my-color);
    filter: drop-shadow(0 0 10px) var(--my-color);
}

.btn.btn2 {
    display: inline-block;
    background: var(--my-color);
    border: none;
    transition: 0.3s;
    margin: 20px auto;
    margin-bottom: 50px;
}

.btn.btn2:hover {
    background-color: hsl(233, 70%, 20%);
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 20px;
    border-radius: 6px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    background: #262626;
    font-weight: 300;
    font-size: 1rem;
}

#msg {
    color: #61b752;
    margin-top: -30px;
    display: block;
}
/* ---------------css for small screens--------------- */
nav .fa-regular.fa-circle-xmark,
.fa-solid.fa-bars {
    display: none;
}
/*============================================================================================================================*/
@media (max-width: 1000px) {
    body {
        background-color: black;
        background-image: url('/images/backgrounds/Background-Mobile-1.webp');
        background-repeat: repeat;
        background-attachment: scroll;
    }
    #contact{
        background-image: url('/images/backgrounds/Background-5.webp');
    } 
    /*-------------------------------------------------------------------------------------------------------------------------*/
    input[type="color"] {
        right: 1.5vw;
        bottom: .5vh;
    }
    
    nav .logo {
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 2.5rem;
    }
    .logo img {
        vertical-align: middle;
        width: 3rem;
    } 
    nav {
        height: 6vh;
        z-index: 10;
    }
    
    nav ul {
        background: var(--my-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.4s;
    }
    nav ul a{
        font-size: 2rem !important;
    }

    nav ul li a::after {
        background-color: white;
    }

    nav ul li a:hover {
        color: white;
    }

    nav ul li {
        display: block;
        margin: 30px;
    }

    nav .fa-regular.fa-circle-xmark,
    .fa-solid.fa-bars {
        display: block;
        font-size: 2.5rem;
    }

    nav .fa-solid.fa-bars {
        position: absolute;
        font-size: 2.5rem;
        top: 25px;
        right: 20px;
        cursor: pointer;
    }

    nav ul .fa-regular.fa-circle-xmark {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    /*---------------------------------------------------------carousel---------------------------------------------*/
    
    .carousel-inner img,.carousel-inner video{
        margin: 20px;
        margin-bottom: 10px;
        transform: translateX(-53.2%);
        box-shadow: 0px 0 20px 3px var(--my-color);
        border-radius: 30px;
        width: 90%;
        text-align: center;
        max-width: 640px;
        height: 385px;
    }

    .w-100.video-margin {
        margin-bottom: 7px;
    }

    .w-100.setproductwidth {
        max-width: 500px ;
    }

    .w-100.omar {
        max-width: 400px;
    }

    .w-100.z-garden {
        max-width: 637px;
    }

    .w-100.max-width-1200 {
        max-width: 660px;
    }

    .w-100.blynk-mobile {
        max-width: 200px;
    }

    .w-100.schematic {
        max-width: 640px;
    }

    .carousel-indicators img {
        width: 60px;
        height: 60px;
    }
    /*---------------------------------------------------------projects---------------------------------------------*/
    .body-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px 50px;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.8rem;
    }
    p{
        font-size: 2rem !important;
    }
    ol li{
        font-size: 1.8rem;
    }
    ul li{
        font-size: 1.8rem;
    }

    .learning-experience {
        margin: 20px 50px;
    }

    /* -----------------------------------------------------------Contact-----------------------------------------------------------*/
    .sub-title {
        font-size: 3rem;
    }
    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }
    .contact-right {
        margin-top: 0px;
    }
    .contact a {
        font-size: 2.8rem;
    }
    .contact i {
        font-size: 2.8rem;
    }
    .social-icons i {
        width: 5rem;
        height: 5rem;
        font-size: 3rem;
    }
    .btn.btn2{
        font-size: 2rem;
    }
    .copyright {
        font-size: 1.5rem;
    }
}



@media only screen and (max-width: 820px) {
    body {
        background-color: black;
        background-image: url('/images/backgrounds/Background-Mobile-1.webp');
        background-repeat: repeat;
        background-attachment: scroll;
    }
    #contact{
        background-image: url('/images/backgrounds/Background-5.webp');
    } 
    /*-------------------------------------------------------------------------------------------------------------------------*/
    input[type="color"] {
        right: 2vw;
        bottom: 3vh;
    }
    
    nav {
        height: 8vh;
        z-index: 10;
    }
    nav .logo {
        position: absolute;
        top: 5px;
        left: 10px;
        font-size: 2rem;
    }
    .logo img {
        vertical-align: middle;
        width: 2.5rem;
    } 

    nav ul {
        background: var(--my-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: 0.4s;
    }
    nav ul a{
        font-size: 1.2rem !important;
    }
    nav ul li a::after {
        background-color: white;
    }

    nav ul li a:hover {
        color: white;
    }

    nav ul li {
        position: relative;
        right: 30px;
        text-align: start;
        display: block;
        margin: 15px ;
    }

    nav .fa-regular.fa-circle-xmark,
    .fa-solid.fa-bars {
        display: block;
        font-size: 1.5rem;
    }

    nav .fa-solid.fa-bars {
        position: absolute;
        font-size: 2rem;
        top: 13px;
        right: 15px;
        cursor: pointer;
    }

    nav ul .fa-regular.fa-circle-xmark {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    /* -----------------------------------------------------------carousel-----------------------------------------------------------*/
    .carousel-inner img,.carousel-inner video{
        margin: 20px;
        margin-bottom: 20px !important;
        transform: translateX(-56.2%);
        box-shadow: 0px 0 20px 3px var(--my-color);
        border-radius: 20px;
        width: 80%;
        text-align: center;
        max-width: 325px;
        height: 182.5px;
    }

    .w-100.video-margin {
        margin-bottom: 13.5px !important;
    } 
    
    .w-100.setproductwidth {
        max-width: 250px ;
    }

    .w-100.omar {
        max-width: 200px;
    }

    .w-100.z-garden {
        max-width: 318.5px;
    }

    .w-100.max-width-1200 {
        max-width: 330px;
    }

    .w-100.blynk-mobile {
        border-radius: 10px;
        max-width: 100px;
    }

    .w-100.schematic {
        max-width: 320px;
    }

    .carousel-indicators img {
        width: 50px;
        height: 50px;
    }
    /*------------------------------------------------------------projects-----------------------------------------------------------*/
    .body-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 20px;
    }
    h1{
        font-size: 1.8rem;
    }
    h2{
        font-size: 1.5rem;
    }
    p{
        font-size: 1.3rem !important;
    }
    ol li{
        font-size: 1.1rem;
    }
    ul li{
        font-size: 1.1rem;
    }

    .learning-experience {
        margin: 20px 20px;
    }
    /* -----------------------------------------------------------Overview-----------------------------------------------------------*/
    .overview-description {
        color: #ababab;
        font-size: 1.2rem;
    }
    /* -----------------------------------------------------------Features-----------------------------------------------------------*/
    .features {
        color: #ababab;
        margin-left: 0px;
        font-size: 1.1rem;
    }
    /* -----------------------------------------------------------Learning Experience------------------------------------------------*/
    .learning-experience p {
        font-size: 1.2rem;
    }

    .learning-experience ul {
        font-size: 1.1rem;
    }
    /* -----------------------------------------------------------video-container------------------------------------------------*/
    .video-container video {
        width: 90% !important;
        border-radius: 20px;
        height: 182px;
    }
    .video-container iframe {
        width: 90%;
        border-radius: 20px;
        height: 182px;
    }
    /* -----------------------------------------------------------Contact-----------------------------------------------------------*/
    .sub-title {
        font-size: 2rem;
    }
    .btn{
        font-size: 1.2rem;
    }
    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }
    .contact-right {
        margin-top: 0px;
    }
    .contact a {
        font-size: 1.5rem;
    }
    .contact i {
        font-size: 1.5rem;
    }
    .social-icons i {
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
    }
    .btn.btn2{
        font-size: 1.2rem;
    }
    .copyright p{
        font-size: 0.8rem !important;
    }
}