@media only screen and (max-width: 820px) {
    .carousel {
        max-height: 210px;
    }

    .project-title h1 {
        padding: -200px;
    }

    .carousel-indicators img {
        overflow: hidden;
        width: 40px;
        height: 40px;
        display: block;
    }

}